@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #49A295;
}

.top {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
}

.logo {
  display: block;
  padding: 25px;
  margin: auto;
  width: 30%;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  padding:30px 50px 10px 50px;
  font-size: 10vw;
  text-align: center;
  color: #ffffff;
}

.underline--amarelo {
  background-image: linear-gradient(120deg, #FBBC3D 0%, #FBBC3D 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  }
