@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  min-height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #49A295;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.top {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  top: 0px;
  right: 0px;
}

.logo {
  display: block;
  padding: 25px;
  margin: auto;
  width: 30%;
}

.frase {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.boxbutoes {
  position: absolute;
  display: inline-block;
  left: 30px;
  bottom: 50px;
}

a {
  text-decoration:none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration:none;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  padding:30px 50px 0px 50px;
  font-size: 5vw;
  text-align: left;
  color: #ffffff;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4vw;
  padding:30px 50px 0px 50px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.underline--amarelo {
  background-image: linear-gradient(120deg, #FBBC3D 0%, #FBBC3D 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  }

.bamarelo {
  background:#FBBC3D;
  border-radius: 50px;
  border: none;
  padding: 10px 25px 10px 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
  color: #ffffff;
  box-shadow: 2px 2px 8px #45887E;
}

.bamacontorno {
  margin-left: 10px;
  background-color: transparent;
  border-radius: 50px;
  border: 3px solid #FBBC3D;
  padding: 10px 25px 10px 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;
  color: #FBBC3D;
  box-shadow: 2px 2px 8px #45887E;
}
}
