@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#caixalanding {
height: 80%;
width: 100%;
background-color: #49A295;
}

.faixa {
  background-color: #49A295;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}

h1 {
font-family: 'IBM Plex Sans', sans-serif;
font-size: 64pt;
font-color: #FFFFFF;
}

.bamarelo {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  background-color: #FBBC3D;
  border: none;
  border-radius: 30px;
  font-color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
